/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/ssr
/storage/clockwork
/storage/logs
/src/core/.phpunit.cache
/src/core/node_modules
/src/core/public/build
/src/core/public/hot
/src/core/public/storage
/src/core/storage/*.key
/src/core/storage/app/public
/src/core/storage/debugbar
/src/core/storage/ssr
/src/core/storage/clockwork
/src/core/storage/logs
.phpunit.result.cache
/src/core/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
/src/core/vendor
.env.backup
/.idea/sonarlint
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
.php-cs-fixer.cache
/.vscode
**/.DS_Store
/public/page-cache
.phpunit.database.checksum
.phpunit.cache
rr
.rr.yaml